{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
</br> </br>
{% if object %}
<h4 class="text-info text-center"> Modification de {{object.prenom}}  {{object.nom}}</h4>
{% else %}
<h4 class = "text-info text-center" > Creation d'un entrepreneur</h4>
{% endif %}
<div class="container mt-3">
    <form method="POST" enctype="multipart/form-data" action="" style="height: min-content; ">
        {% csrf_token %}
        <div class = "col-sm-12">
            {{ form|crispy }}
                {% if object %}
                <a href = "{% url 'entrepreneur_detail' object.id %}" class="btn btn-secondary">Annuler</a>
                {% else %}
                <a href = "{% url 'home'  %}" > Annuler</a>
                {% endif %}
        
            </div>
        </div>
        <div class="text-center">
        <input class="btn btn-success text-center" type="submit" value="Valider le formulaire">
        </div>
    </form>
</div>
</br>
{% endblock content %}