{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
</br> </br> </br>

<div class ="text-center" >
    <a href = "{% url 'creer_personne'  %}" class="btn btn-secondary"> Ajouter un Entrepreneur</a>
</div>

<div class = "row p-4">
    <div class = "col-sm-12 mt-1"> 
        <div class="card">
            <div class="card-header"> 
                Recherche
            </div> 
            <form action=" {% url 'home' %}" method="post">
                <div class="card-body">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-right" >
                    <button class="btn-btn-info" type="submit">Rechercher</button>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>
<a class="nav-link text-info" href="{% url 'home' %}">Annuler la requete de filtre</a>
<div class="table-responsive-sm p-4">
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Email</th>
                <th scope="col">Téléphone</th>
            </tr>
        </thead>
        <tbody>
            {% for entrepreneur in  liste %}
            <tr class="table-info">
                <td><a href="{% url 'entrepreneur_detail' entrepreneur.id %}">{{entrepreneur.nom}}</a></td>
                <td>{{entrepreneur.prenom}}</td>
                <td>{{entrepreneur.email}}</td>
                <td>{{entrepreneur.telephone}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
{% endblock content %}