{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

</br> </br>
<h4  class="text-info text-center"> Modifier le rendez-vous pour {{entrepreneur.prenom}}  {{entrepreneur.nom}} </h4>
<div class="container mt-3">
  <form method="POST" enctype="multipart/form-data" action="" style="height: min-content; ">
      {% csrf_token %}
      <div class = "col-sm-12">
          {{ form|crispy }}
          <a href = "{% url 'entrepreneur_detail' entrepreneur.id %}" > Annuler</a>
      </div>
      <div class="text-center">
      <input class="btn btn-success text-center" type="submit" value="Valider le formulaire">
      </div>
  </form>
</div>
</br>
{% endblock %}