{% extends 'base.html' %}
{% block content %} 
</br> </br>
    <div class="container">
        <div class="row">
            <div class="jumbotron bg-light p-4 my-3 shadow" ALIGN='center'>
                <h2 class="text-dark">Bienvenue sur mon application !</h2>
            </div>
        </div>
    </div></br></br>
    <div class="container">
        <div class="row" ALIGN='center'>
            </div>
            <div class="col-18 col-lg-12">
                <h3 class="text-dark">Connectez-vous</h3>
                <p>
                    {{ message }}
                </p>
                <form method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-success">Se connecter</button>
                </form>
                </br> </br>
                <button type="submit" class=" btn-link btn btn-outline-info" ><a  href="{% url 'reset_password' %}">Mot de passe oublié</a></button>
            </div>
        </div>
    </div>
{% endblock content %}