{% extends 'base.html' %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="jumbotron bg-light p-4 my-3 border text-dark" ALIGN='center'>
            <p class="font-weight-bold text-success "> <h3> Votre changement de mot de passe a bien été pris en compte
                Veuillez vous rendre vers la page de connexion pour vous connecter avec votre nouveau mot de passe
            </p>
            <button type="submit" class="btn-link btn btn-outline-info"><a href="{% url 'login' %}"> Connexion </a>
        </div>
    </div>

{% endblock content %}