{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="jumbotron bg-light p-4 my-3 border text-dark" ALIGN='center'>
                <h2>Modifier le mot de passe</h2>
            </div>
        </div>
        <div class="row" ALIGN="center"> 
            <p class=" font-weight-bold text-danger"> Etes vous sur de changer votre mot de passe, 
                Cette action peut etre irreversible ?
            </p>
        </div>
        <div class="row">
            <form method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <button class="btn btn-success" type="submit">Changer mot de passe</button>
                <a class="btn btn-secondary" href="{% url 'home' %}" role="button">Retour</a>
            </form>
        </div>
    </div>
{% endblock content %}